.Generate {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF; 
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    margin-top:20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);  
}

.Generate:hover {
    background-color: #0056b3;
}

/* Styles for the row of square boxes */
.itemBoxContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Creates 10 columns */
    justify-content: center;
    gap: 5px; /* Adjust gap as needed */
}

.itemBox {
    margin-top:20px;
    width: 105px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; /* Light gray matching the navbar */
    border: 1px solid #e0e0e0; /* Border matching the navbar's bottom border */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Ubuntu', sans-serif; /* Added for consistency */
    font-size:16px;
    text-align: center;
}

.itemBox:hover {
    background-color: #e0e0e0; /* A slightly darker gray on hover */
    border-color: #c0c0c0; /* Darken the border color on hover */
}

/* Customizes the scrollbar itself */
.overflow-custom::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

/* Customizes the background of the scrollbar track */
.overflow-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey background */
}

/* Customizes the draggable scrolling handle */
.overflow-custom::-webkit-scrollbar-thumb {
    background: #888; /* Darker grey handle */
}

/* Changes the color on hover */
.overflow-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker handle on hover */
}