/* src/components/UserDropdown.css */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* By default, the dropdown content should be hidden */
    position: absolute;
    right: 0; /* To align the dropdown to the right of the button */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown when hovering over the dropdown button */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #ddd;
}
