.transparent-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}
.transparent-modal {
    width: 300px;  /* Width of modal */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1); /* White with 90% opacity */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Ubuntu', sans-serif; /* Consistent font */
}

.transparent-modal a {
    color: #007BFF; /* Blue link color consistent with app.css */
    font-size: 18px;
    margin-bottom: 15px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, color 0.3s; /* Added color transition */
    text-align:center;
}

.transparent-modal a:hover {
    border-bottom: 2px solid #007BFF; /* Blue underline on hover */
    color: #0056b3; /* Darker blue on hover, matching app.css */
}

.transparent-modal button {
    background-color: #007BFF; /* Blue background color consistent with app.css */
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Consistent transition */
    margin-top:20px;
}


.transparent-modal button:hover {
    background-color: #0056b3; /* Darker blue on hover, matching app.css */
}

.servingText{
    color:#007BFF;
}