@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select:none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,body {
  font-family: 'Ubuntu', sans-serif;
  margin:0;
  padding:0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: #0056b3;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f7f7f7; /* Light gray background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle bottom shadow */
}


.auth-buttons {
  display: flex;
  gap: 10px; /* Adds a space between the buttons */
}

.auth-buttons, .UserDropdown {
  flex-grow: 0;  /* This will prevent these elements from growing */
}

.navbar-title {
  display:flex;
  justify-content: left;
  align-items: left;
  flex-grow: 5; /* Use flex-grow instead of flex */
}
.navbar-logo {
  display:flex;
  justify-content: left;
  align-items: left;
  flex-grow: 1; /* Use flex-grow instead of flex */
  width:5em;
  height:5em;
}

.main-div {
  background-color: rgba(255, 255, 255, 0.8); /* This will give a transparent white background */
  margin: 20px;   /* Adds space around the main-div */
  padding: 20px;  /* Adds space inside the main-div */
  border-radius: 10px; /* Rounds the corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  height:100%;
}

.GroceryGenerate {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically align items in the center */
  gap: 10px; /* Space between items */
  flex-grow:50px;
}

.Generate {
  margin-bottom:20px;
}


.totals {
  display:flex;
  justify-content: center; /* Centered horizontally */
  align-items: center; /* Centered vertically */
  flex-direction: row;
  margin-top: 30px;
  gap: 20px; /* Spacing between items */
  padding: 20px;
}

.total-item {
  margin: 0; /* Remove default margin */
}

.shared-background {
  border-radius: 10px;
  background-color: #f5f5f5; /* Same as other backgrounds */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.modalFront {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  justify-content: center; /* This will space out the name and count */
  width: 100%; /* Ensure full width to utilize space-between */
}

.itemName {
  font-weight: bold; /* Makes the name stand out */
  flex-grow:5;
}

.itemCount {
  /* Additional styles if needed, e.g., a different color or font size */
}

.homepage-container {
  text-align: center;
  padding: 50px;
}

.welcome-text {
  margin: 20px 0;
  font-size: 20px;
}

.button-container {
  margin-top: 30px;
}

.register-button, .login-button {
  padding: 10px 20px;
  margin:10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover,.login-button:hover{
  background-color: #0056b3;
}

/* Customizes the scrollbar itself */
.overflow-custom::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

/* Customizes the background of the scrollbar track */
.overflow-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Customizes the draggable scrolling handle */
.overflow-custom::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey handle */
}

/* Changes the color on hover */
.overflow-custom::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker handle on hover */
}

/* For webkit browsers like Chrome, Safari, and newer versions of Edge */
*::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* The track (background) of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* The scroll handle */
  border-radius: 20px; /* Optional: adds rounded corners to the scroll handle */
  border: 3px solid #f0f0f0; /* Optional: adds a border around the scroll handle */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #808080; /* Color of the scroll handle on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
  scrollbar-color: #a0a0a0 #f0f0f0; /* thumb and track color */
}


